.leaflet-popup-content-wrapper{
    padding: 1px !important;
    width: 420px !important;
}
body{
    background-color: #f5f5f5;
    font-family:cursive;
}
.page5{
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
}
.accueil{
    display: block;
}
.body-acceuil{

    height: 100%;
    width: 100%;
    background-position-y:84%;
    background-size: 100%;
    background-image: url('bg-accueil2.png');
    background-repeat: no-repeat;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.qr-code{
    width: 12%;
    top: 0%;
    POSITION: relative;
    border-radius: 5%;
    box-shadow: 0px 0px 9px 4px rgb(0 0 0 / 73%);
}
footer{
    background-color: #54709ace;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: -2px;
    z-index: 100;
}
.présentation-plan{
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.button-note:hover {
    background-color: black;
    box-shadow: none;
}
.button-note{
    border-radius: 20px;
    background-color: #6e7b8f;
    color: white;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
    border: none;
    width: 100px;
    height: 30px;
}
.plan-lycée{
    width: 100%;
    height: 75%;
    position: relative;
    border: none;
}
.map{
    position: static;
    height: 100% !important; /* le !important permet de forcer le css pour passer outre le style de leaflet */
}
body{
    background-color: #f5f5f5;
        font-family:cursive;
}
.page5{
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
}
#page1{
    display: none;
}
/* quand l'id de la première iframe est ciblé dans l'url, on l'affiche avec une animation */
#page1:target {
    display: block;
    position: fixed;
    animation: zoom 0.7s ;

}
.accueil{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#accueil{
    display: none;
}
#accueil:target{
    display: block;
    position: fixed;
}

/* permet de créer une animation de zoom en passant l'échelle de 0.3 à 1 */
@keyframes zoom{
    from {
        transform: scale(0.3);
    }
    to {
        transform: scale(1);
    }
}

#page2{
    display: none;
}
#page2:target{
    display: block;
    position: fixed;
    animation: zoom 0.7s ;

} 
#page3{
    display: none;
}
#page3:target{
    display: block;
    position: fixed;
    animation: zoom 0.7s ;

} 
#page4{
    display: none;
}
#page4:target{
    display: block;
    position: fixed;
    animation: zoom 0.7s ;

} 
#page5{
    display: none;
}
#page5:target{
    display: block;
    position: fixed;
    animation: zoom 0.7s ;

}
/* : hover permet de changer les propriétés d'un élément au survol de la souris */
li:hover{
    transform: translateY(-2px);
    transition: all 0.5s ease;
    color: rgb(189, 189, 189);
}
a:hover{
    color: rgb(189, 189, 189);
    transition: all 0.5s ease;
}
a:active{
    color: purple;
}    
/* les media queries permettent de mettre des propriétés css différentes en fonction de la taille de l'écran ce qui permet le responsive */	
@media screen and (min-width: 1024px) {
    .leaflet-popup-content {
        width: 450px !important;
        height: 250px !important;
        margin-left: -18.5% !important;
    }
    .menu{
        width: 14%;
        background-color: #6e7b8f;
        background-color: #6e7b8f;
        color: white;
        top : 0;
        left: 0;
        position: fixed;
        z-index: 10;
        height: 100%;
        transition: all 0.5s ease;   
        box-shadow: 7px 0px 10px rgba(0, 0, 0, 0.5);     
    }
    a {
        color: white;
        text-decoration:none;
        position: relative;
    }
    li{
        padding: 4%;
        font-size: 1.9rem;
        position: relative;
        left: 7%;
    
    }
    .home{
        font-size: 1.9rem;
        margin-left: -10px;
    }
    .titre-menu{
        left: 18%;
        position: relative;
        font-size: 2rem;
        top:-10px;
        top:-10px;
    }
    /* change la place de l'iframe dans la page quand le menu est fermé (checkbox cochée) */
    #afficher-menu:checked ~ iframe{    
        left: 0;
        left: 0;
        border: none;
        width: 100%;
        height: 100%;
    }
    iframe{
        left: 14%;
        left: 14%;
        border: none;
        width: 86%;
        width: 86%;
        height: 100%;
        transition: all 0.5s ease;
        top: -1%;
        position: relative;
        top: -1%;
        position: relative;
    }
    .svg-menu{
        position: relative;
        z-index: 11;
        left: 5px;
        top: 10px;

    }
    .afficher-menu{ 
        z-index: 101;
        position: absolute;
        width: 40px;
        height: 40px;
        opacity: 0;
        left: 10px;
        top: 22px
    }
    /* rentre le menu dans la page quand la checkbox est cochée */
    #afficher-menu:checked ~ .menu{ 
        transition: all 0.5s ease;
        transform: translateX(-100%);
        box-shadow:none;
    }
    .illustration-générateur-notes{
        border-radius: 10px;
        width: 30%;
        position: absolute;
        top: 22%;
        left: 35%;
        box-shadow: 10px 11px 16px 4px rgba(0, 0, 0, 0.5);
    }
}
@media screen and (min-width: 768px) and (max-width: 1190px){
    .leaflet-popup-content {
        width: 450px !important;
        height: 250px !important;
        margin-left: -18.5% !important;
    }
    .menu{
        width: 14%;
        background-color: #6e7b8f;
        background-color: #6e7b8f;
        color: white;
        top : 0;
        left: 0;
        position: fixed;
        z-index: 10;
        height: 100%;
        transition: all 0.5s ease;   
        box-shadow: 7px 0px 10px rgba(0, 0, 0, 0.5);     
    }
    a {
        color: white;
        text-decoration:none;
        position: relative;
    }
    li{
        padding: 4%;
        font-size: 1.9rem;
        position: relative;
        left: 7%;
    
    }
    .home{
        font-size: 1.9rem;
        margin-left: -10px;
    }
    .titre-menu{
        left: 18%;
        position: relative;
        font-size: 2rem;
        top:-10px;
        top:-10px;
    }
    /* change la place de l'iframe dans la page quand le menu est fermé (checkbox cochée) */
    #afficher-menu:checked ~ iframe{    
        left: 0;
        left: 0;
        border: none;
        width: 100%;
        height: 100%;
    }
    iframe{
        left: 14%;
        left: 14%;
        border: none;
        width: 86%;
        width: 86%;
        height: 100%;
        transition: all 0.5s ease;
        top: -1%;
        position: relative;
        top: -1%;
        position: relative;
    }
    .svg-menu{
        position: relative;
        z-index: 11;
        left: 5px;
        top: 10px;

    }
    .afficher-menu{ 
        z-index: 101;
        position: absolute;
        width: 40px;
        height: 40px;
        opacity: 0;
        left: 10px;
        top: 22px
    }
    /* rentre le menu dans la page quand la checkbox est cochée */
    #afficher-menu:checked ~ .menu{ 
        transition: all 0.5s ease;
        transform: translateX(-100%);
        box-shadow:none;
    }
    .illustration-générateur-notes{
        border-radius: 10px;
        width: 30%;
        position: absolute;
        top: 22%;
        left: 35%;
        box-shadow: 10px 11px 16px 4px rgba(0, 0, 0, 0.5);
    }
}
@media screen and (min-width: 0px) and (max-width: 767px){
    .leaflet-popup-content {
        width: 400px !important;
        height: 250px !important;
        margin-left: 2.7% !important;
    }
    /* ici on rentre le menu quand la checkbox n'est pas cochée pour qu'il ne s'affiche pas sur un écran petit */
    .menu{
        width: 27%;
        background-color: #6e7b8f;
        background-color: #6e7b8f;
        color: white;
        top : 0;
        left: 0;
        position: fixed;
        z-index: 10;
        height: 100%;
        transition: all 0.5s ease;
        transform: translateX(-100%); 
        box-shadow: none;
    }
    a {
        color: white;
        text-decoration:none;
        position: relative;
    }
    li{
        padding: 5%;
        font-size: 3rem;
        position: relative;
        left: 5%;
    
    }
    .titre-menu{
        left: 15%;
        position: relative;
        font-size: 3.3rem;
        top: -13px;
    }
    iframe{    
        left: 0;
        left: 0;
        border: none;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;
        top: -1%;
        top: -1%;

    }

    .svg-menu{
        position: relative;
        z-index: 11;
        top: 30px;
        left: 8px;
    }
    .afficher-menu{ 
        z-index: 101;
        position: absolute;
        width: 40px;
        height: 40px;
        opacity: 0;
        left: 10px;
        top: 22px;
    }    
    #afficher-menu:checked ~ .menu{ 
        transition: all 0.5s ease;
        transform: translateX(+0%);
        box-shadow: 7px 0px 10px rgba(0, 0, 0, 0.5);
    }
    #afficher-menu:checked ~ iframe{ 
        left: 0;
        left: 0;
        border: none;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;


    }
    .titre-pages{
        font-size: 3rem;
    }
    .paragraphe-pages{
        font-size: 2.5rem;
    }
    .paragraphe-accueil{
        font-size: 2.5rem;
    }
    .body-acceuil{
        top: 10% !important;
        background-position-y: 45% !important;
        background-size: 150%;
        background-position-x:50% ;
    }
    footer{
        height: 5%;
        font-size: 2rem;
    }
    .home{
        font-size: 2.7rem;
        margin-left: -10px;
    }
    .button-note{
        width: 300px;
        height: 60px !important;
        font-size: 1.7rem;
        box-shadow: 3px 7px 9px 4px rgba(0, 0, 0, 0.5);

    }
    .page5{

        top: 10%;
    }
    .paragraphe-accueil{
        font-size: 2.5rem;
    }
    .body-acceuil{
        top: 10% !important;
        background-position-y: 45% !important;
        background-size: 150%;
        background-position-x:50% ;
    }
    footer{
        height: 5%;
        font-size: 2rem;
    }
    .home{
        font-size: 2.7rem;
        margin-left: -10px;
    }
    .button-note{
        width: 300px;
        height: 60px !important;
        font-size: 1.7rem;
        box-shadow: 3px 7px 9px 4px rgba(0, 0, 0, 0.5);

    }
    .page5{

        top: 10%;
    }
    .illustration-générateur-notes{
        border-radius: 10px;
        width: 60%;
        position: absolute;
        top: 21%;
        left: 20%;
        box-shadow: 10px 11px 16px 4px rgba(0, 0, 0, 0.5);
    }
    .qr-code{
        display: none;
    }
    .paragraphe-qr-code{
        display: none;
    }
}
