body {
    font-family: 'Roboto', sans-serif;
}

#page1{
    display: none;
}
/* quand l'id de la première iframe est ciblé dans l'url, on l'affiche avec une animation */
#page1:target {
    display: block;
    position: fixed;
    animation: zoom 0.7s ;

}

/* permet de créer une animation de zoom */
@keyframes zoom{
    from {
        transform: scale(0.3);
    }
    to {
        transform: scale(1);
    }
}

#page2{
    display: none;
}
#page2:target{
    display: block;
    position: fixed;
    animation: zoom 0.7s ;

} 
#page3{
    display: none;
}
#page3:target{
    display: block;
    position: fixed;
    animation: zoom 0.7s ;

} 
#page4{
    display: none;
}
#page4:target{
    display: block;
    position: fixed;
    animation: zoom 0.7s ;

} 
#page5{
    display: none;
}
#page5:target{
    display: block;
    position: fixed;
    animation: zoom 0.7s ;

}
/* : hover permet de changer les propriétés d'un élément au survol de la souris */
li:hover{
    transform: translateY(-2px);
    transition: all 0.5s ease;
    color: rgb(189, 189, 189);
}
a:hover{
    color: rgb(189, 189, 189);
    transition: all 0.5s ease;
}
a:active{
    color: purple;
}    
/* les media queries permettent de mettre des propriétés css différentes en fonction de la taille de l'écran ce qui permet le responsive */	
@media screen and (min-width: 1024px) {
    .menu{
        width: 14%;
        background-color: #0000ff;
        color: white;
        top : 0;
        left: 0;
        position: fixed;
        z-index: 10;
        height: 100%;
        transition: all 0.5s ease;   
        box-shadow: 7px 0px 10px rgba(0, 0, 0, 0.5);     
    }
    a {
        color: white;
        text-decoration:none;
        position: relative;
    }
    li{
        padding: 4%;
        font-size: 1.9rem;
        position: relative;
        left: 7%;
    
    }
    .titre-menu{
        left: 18%;
        position: relative;
        font-size: 2rem;
    }
    /* change la place de l'iframe dans la page quand le menu est fermé (checkbox cochée) */
    #afficher-menu:checked ~ iframe{    
        left: 0;
        border: none;
        width: 100%;
        height: 100%;
    }
    iframe{
        left: 14%;
        border: none;
        width: 88%;
        height: 100%;
        transition: all 0.5s ease;
        top: -1%;
        position: relative;
    }
    .svg-menu{
        position: relative;
        z-index: 11;
        left: 5px;
        top: 10px;

    }
    .afficher-menu{ 
        z-index: 101;
        position: absolute;
        width: 40px;
        height: 40px;
        opacity: 0;
        left: 10px;
        top: 22px
    }
    /* rentre le menu dans la page quand la checkbox est cochée */
    #afficher-menu:checked ~ .menu{ 
        transition: all 0.5s ease;
        transform: translateX(-100%);
        box-shadow:none;
    }
    
    .midjourney-img{
            width: 30%;
            height:30%;
            position: relative;
            border-radius: 10px;
            box-shadow: 7px 8px 10px rgba(0, 0, 0, 0.5);
        }
}
@media screen and (min-width: 0px) and (max-width: 1024px)
{
    /* ici on rentre le menu quand la checkbox n'est pas cochée pour qu'il ne s'affiche pas sur un écran petit */
    .menu{
        width: 27%;
        background-color: #0000ff;
        color: white;
        top : 0;
        left: 0;
        position: fixed;
        z-index: 10;
        height: 100%;
        transition: all 0.5s ease;
        transform: translateX(-100%); 
        box-shadow: none;
    }
    a {
        color: white;
        text-decoration:none;
        position: relative;
    }
    li{
        padding: 5%;
        font-size: 3rem;
        position: relative;
        left: 5%;
    
    }
    .titre-menu{
        left: 15%;
        position: relative;
        font-size: 3.3rem;
        top: -13px;
    }
    iframe{    
        left: 0;
        border: none;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;
        top: -1%;

    }

    .svg-menu{
        position: relative;
        z-index: 11;
        top: 30px;
        left: 8px;
    }
    .afficher-menu{ 
        z-index: 101;
        position: absolute;
        width: 40px;
        height: 40px;
        opacity: 0;
        left: 10px;
        top: 22px;
    }

    .afficher-menu{ 
        z-index: 101;
        position: absolute;
        width: 40px;
        height: 40px;
        opacity: 0;
        left: 10px;
        top: 15px
    }    
    #afficher-menu:checked ~ .menu{ 
        transition: all 0.5s ease;
        transform: translateX(+0%);
        box-shadow: 7px 0px 10px rgba(0, 0, 0, 0.5);
    }
    #afficher-menu:checked ~ iframe{ 
        left: 0;
        border: none;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;

    }
    .titre-pages{
        font-size: 3rem;
    }
    .paragraphe-pages{
        font-size: 2.5rem;
    }
    .midjourney-img{
        width: 50%;
        height:50%;
        position: relative;
        border-radius: 10px;
        box-shadow: 7px 8px 10px rgba(0, 0, 0, 0.5);
    }
}
